/* basic reset */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

form {
  margin: 0;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

ul, ol {
  list-style:none;
}

:focus,
button:active,
button:hover,
a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* main */
body {
  font-family: $main-font;
  color: $main-light;
  background-color: $main-light;
  max-width: 1920px;
  min-width: 375px;
  margin: 0 auto;
  background-image: url(../assets/bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  width: 60%;
  min-height: 80vh;
  margin: 7% auto 3%;
  background-color: $main-dark;
  padding-bottom: 5em;
  box-shadow: 0 0 20px $main-dark;
}
.footer__p {
  margin: 15px auto;
  text-align: center;
  color: $main-dark;
}

/* social media */
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  &__link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 5px;
    margin: 5px 0;
    background-color: $main-dark-2;
    position: relative;
    transition: .4s ease-in-out;
    &:hover {
      box-shadow: 0 0 5px $main-dark-2;
      background-color: $details;
    }
  }
  &__img {
    width: 60%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}