header {
  position: relative;
  padding: 1.5em 0;
}
.header {
  font-weight: 400;
  &__main {
    text-align: center;
    font-size: 4em;
    @media (max-width: $s) {
      font-size: 2em;
    }
  }
}