//font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
$main-font: "Montserrat", Arial, sans-serif;

//colors
$main-light: #fff;
$main-dark: hsla(201,20%,20%,0.98);
$main-dark-2: hsla(201,20%,40%,0.9);
$details: rgb(33, 172, 194);
