//font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
$main-font: "Montserrat", Arial, sans-serif;

//colors
$main-light: #fff;
$main-dark: #000;
$details: orange;
